.dashboard_row{
    display: table;
    width: 100%;
    margin: auto;
}


.myTabContent {
  width: 80%;
//   margin-left: 16rem;
  float: left;
}



.DashboardSidebar {
  width: 20%;
  float: left;
  top: 4.5em;
}

.col50 {
  width: 50%;
}

.BuyCrypto {
  border: 1px solid white;
  border-radius: 9px;
  position: absolute;
}

.BuyCrypto_img {
  right: 0;
  position: relative;
}
.token_address_flex{
        display: flex;
    align-items: center;
    justify-content: flex-start;
}

[data-rk] .ju367v9c {
    background: orange !important;
}

.buy_crypto_bg{
      overflow: auto; 
      height: auto;
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
  }
  .buy_sell_crypto_section header{
    font-size: 2em;
    font-weight: 600;
    color: orange;
  }

  /* Styling the overscroll effect */
  .buy_crypto_bg::-webkit-scrollbar {
    background-color: orange;
  }
  .buy_crypto_bg::-webkit-scrollbar-button{
    background-color: rgb(255, 111, 0);
  }
.buy_sell_crypto_section th,
.buy_sell_crypto_section td {
  text-transform: capitalize;
  font-size: 1em;
}
@media screen and (max-width: 1023px) {
  .myTabContent {
    width: 100%;
    margin-left: 0;
  }
}

